<section>
  <div class="events-container">
    <% if @upcoming_event %>
      <div class="upcoming-event-content">
        <div class="upcoming-event-details">
          <p class="upcoming-event-title">
            Our next event
          </p>
          <p class="upcoming-event-header">
            <strong><%= @upcoming_event.name %></strong>
          </p>
          <div class="upcoming-event-date">
            <span>
              <%= @upcoming_event.starts_at.in_time_zone("America/New_York").to_date.to_s(:long) %></br>
              <%= @upcoming_event.starts_at.in_time_zone("America/New_York").strftime("%l:%M%p") %> to
              <%= @upcoming_event.ends_at.in_time_zone("America/New_York").strftime("%l:%M%p") %>
            </span>
          </div>
          <div class="upcoming-event-location">
            <span>
              <%= @upcoming_event.venue_name %></br>
              <%= @upcoming_event.address_1 %></br>
              <%= @upcoming_event.city %>, <%= @upcoming_event.state %>
            </span>
          </div>
          <div class="upcoming-event__buttons">
            <%= link_to("RSVP", "#", class: "upcoming-event__button") %>
            <%= link_to("See all events", "#", class: "upcoming-event__button") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="event-types">
      <div class="card">
        <p class="card__title">
          Project nights
        </p>
        <p class="card__header">
          First Tuesday of the month
        </p>
        <span>
          Get help with rails, hack on some open source, meet other Ruby enthusiasts.
        </span>
      </div>
      <div class="card">
        <p class="card__title">
          Meetings
        </p>
        <p class="card__header">
          Second Tuesday of the month
        </p>
        <span>
          Two long-form talks about something cool created with Ruby.
        </span>
      </div>
    </div>
  </div>
</section>
